*{
    font-family: Verdana;
    text-align: center;
}
.baner{
    background-color: darkgreen;
    color: white;
    padding: 5px;
}
.lewa{
    background-color: palegreen;
    width: 30%;
    height: 500px;
    float: left;
}
.prawa{
    background-color: honeydew;
    width: 70%;
    height: 400px;
    padding-top: 100px;
    float: left;
}
.stopka{
    background-color: palegreen;
    padding: 3px;
    clear: both;
}
table{
    border: 1px solid darkgreen;
    margin: auto;
    width: 95%;
}

td,th{
    border: 1px solid darkgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
}
button{
    background-color: darkgreen;
    color: white;
    padding: 5px;
}
button:hover{
    background-color: honeydew;
    color: darkgreen;
}